Import any needed libraries

In [2]:
import pandas as pd
import numpy as np
import requests
import csv
from bs4 import BeautifulSoup

Hard-Code List of divisions

In [3]:
AFC_North = ['bal', 'cin', 'cle', 'pit']

Use the requests library to send GET requests to the specified URL

In [41]:
obj = {}
for team in AFC_North:
    url = f'https://www.espn.com/nfl/team/stats/_/name/{team}/season/2024/seasontype/2'
    headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36'}
    response = requests.get(url=url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')
    athlete_names = soup.find_all(class_='Athlete__PlayerName')
    statistics = soup.find_all(class_='clr-gray-01 pr3 hs2')
    city = soup.find(class_='db pr3 nowrap').text
    team_name = soup.find(class_='db fw-bold').text
    team_fullname = f"{city} {team_name}"
    obj[team_fullname] = []
    for athlete, statistic in zip(athlete_names, statistics):
        athlete_name = athlete.text
        specific_statistic = statistic.text
        obj[team_fullname].append(f"{specific_statistic}")
pd.DataFrame(data=obj, index=["Passing Yards Leader Statistic", "Rushing Yards Leader Statistic", "Receiving Yards Leader Statistic", "Tackles Statistic Statistic", "Interceptions Leader Statistic"]).T

,Passing Yards Leader Statistic,Rushing Yards Leader Statistic,Receiving Yards Leader Statistic,Tackles Statistic Statistic,Interceptions Leader Statistic
Baltimore Ravens,"1,206",572,269,50,2
Cincinnati Bengals,"1,370",230,493,52,1
Cleveland Browns,852,250,213,39,1
Pittsburgh Steelers,961,270,310,39,2